body {
  min-height: auto;
}

body.modal-open {
  padding-right: 0 !important;
}

.user-table {
  padding: 0 5px;
}

.btn-edit,
.btn-delete {
  border: none;
  outline: none;
  background-color: transparent !important;
  font-size: 20px;
}
.btn-edit {
  color: orange;
  &:hover {
    opacity: 0.4;
  }
}
.btn-delete {
  color: rgb(243, 26, 26);
  &:hover {
    opacity: 0.4;
  }
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.model-user-container {
  .modal-header {
    button.close {
      background-color: transparent;
      border: none;
      font-size: 26px;
      color: white;
    }
  }
  .modal-user-body {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .input-container {
      display: flex;
      flex-direction: column;
      width: 48%;
      &.max-w {
        width: 100%;
      }
      input {
        border-radius: 3px;
        height: 30px;
        outline: none;
        border: 1px solid gray;
        padding-left: 10px;
      }
    }
  }
}
