.section-handbook {
  h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 6px 10px;
  }
  .slide-item {
    display: flex !important;
    img {
      width: 50%;
      margin: 0 !important;
    }
    h2 {
      flex: 1;
    }
  }
  .slick-next::before {
    color: #000000ed;
  }
}
